.banner{
    background-image: url(images/donation8.jpg);
    height: 1000px;
    width: auto;
    background-repeat: no-repeat;
}
.text-on-banner{
    color: white;
    position: relative;
    font-size: 25px;
    text-align: center;
    padding: 174px 307px;
}
.button{
    text-decoration: none;
    background-color: rgb(255, 89, 89);
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding:16px 16px;
    font-size: smaller;
}
.donate-today{
    text-align: center;
    font-size: larger;
}
.takar-option{
    text-align: center;
    display: flex;
    width: 20%;
}
.selected-taka{
    background-color: rgb(255, 89, 89);
    width: 20%;
    height: 10%;
    text-align: center;
}
.our-donate-plan{
    text-align: center;
    padding-top: 100px;
}
.Food{
    background-color: rgba(79, 157, 166, 0.205);
    padding-left: 30px;
    padding-right: 30px;
}
.Shelter{
    background-color: rgba(255, 89, 89, 0.247);
    padding-left: 30px;
    padding-right: 30px;
}
.Education{
    background-color: rgb(243, 199, 144);
    padding-left: 30px;
    padding-right: 30px;
}
.boxes{
    display: flex;
    width: 1000px;
    height: 200px;
    text-align: center;
}
.their-lives{
    width: 50;
    text-align: center;
    margin: 5%;
}
.second-img{
    width: 300px;
    height: 300px;
    
}